.outline {
  border: thin solid green;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix,
.clear {
  clear: both;
}

.center {
  text-align: center;
}

.center_element {
  margin-left: auto;
  margin-right: auto;
}

.col6 {
  width: 50%;
}

.separator {
  border-left: thin solid #979797;
}

.italics {
  font-style: italic;
}
