@import "variables2";
@import "mixins2";

body {
	font-size: 17px;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
	}
}

footer {
	background-color: $dark_gray;
	color: #FFF;
}

ol,
ul {
	list-style: disc;
	margin-left: 15px;
}